<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:label="ToolLab"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
              android:name="flutter_deeplinking_enabled"
              android:value="false"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="de.renier.tool_lab.CalculatorAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Calculator"
            android:icon="@mipmap/ic_launcher_calculator"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.BubbleLevelAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Bubble Level"
            android:icon="@mipmap/ic_launcher_bubble_level"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.EmfDetectorAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="EMF Detector"
            android:icon="@mipmap/ic_launcher_emf_detector"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.DeviceInfoAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Device Info"
            android:icon="@mipmap/ic_launcher_device_info"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.NfcTagLabAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="NFC Tag Lab"
            android:icon="@mipmap/ic_launcher_nfc_tag_lab"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.PdfViewerAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="PDF Viewer"
            android:icon="@mipmap/ic_launcher_pdf_viewer"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.NotesAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Notes"
            android:icon="@mipmap/ic_launcher_notes"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.MarkdownViewerAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Markdown Viewer"
            android:icon="@mipmap/ic_launcher_markdown_viewer"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.ImageViewerAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Image Viewer"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.FastDropAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Fast Drop"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.ImagesToPdfAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Images to PDF"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.ChiptuneAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Chiptune Player"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.FocusNoiseAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Focus Noise"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.SignaturesAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="Signature Creator"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.QrCodeAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="QR Code"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="de.renier.tool_lab.GpsLocationStoreAlias"
            android:targetActivity="de.renier.tool_lab.MainActivity"
            android:label="GPS Location Store"
            android:icon="@mipmap/ic_launcher"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.renier.tool_lab.fileprovider;de.renier.tool_lab.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".ToolLabForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <!-- ML Kit Document Scanner module — fetched from Google Play at install/run
             time so scanDocument() doesn't fail with a null/PlatformException on
             first use on real devices. -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="document_ui,barcode,subject_segment" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
